// .themeapp__button--whitetheme {
//     background-color: white;
//     color: black;
// }

// .themeapp__button--blacktheme {
//     background-color: black;
//     color: white;
// }

.themeapp {
    &__button {

        &--whitetheme {
            background-color:white
            color: black;
        }

        &--blacktheme {
            background-color: black;
            color: white;
        }
    }
}